@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-class {
    background: url('../../../data/10e133c6518d8edcb5ca2d5585b71204.jpeg') no-repeat;
    background-size: cover;
}


.underline-link{
   border-bottom: solid 3px #D4A373;

   
}